/*
------------------------------------------------------------------------
----------------------- Patent Page CSS  ------------------------
------------------------------------------------------------------------
*/
/*
------------------------------------------------------------------------
----------------------- Header Section  CSS  ------------------------
------------------------------------------------------------------------
*/
#header-section{
    max-height:45rem;
}
#header-section .banner {
    margin-top: 15rem;
}
#header-section .banner h1{
    width: 100%;
    padding: 0;
    text-align: center;
}
#header-section .banner h1::after {
    position: initial;
    content: "";
    top: 100%;
    display: block;
    margin:2rem auto 0;
    background: #ffffff;
}
/*
------------------------------------------------------------------------
------------------------- Patent PDF  CSS  ---------------------------
------------------------------------------------------------------------
*/
#pdf-section{
    width: 100%;
    padding: 5rem 1rem 6rem;
}
.pdf-content{
    max-width: 90rem;
    width: 100%;
    margin: auto;
    height:100rem;
    background: #e2e2e2;
    text-align: center;
    margin-bottom: 8rem;
}
.download-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-pdf-btn{
    border: none;
    outline: none;
    font-size: 2.2rem;
    font-weight: 500;
    color: #ffffff;
    background: #00497f;
    padding: .9rem 4rem;
    border-radius: 3rem;
    margin: auto;
    text-transform: capitalize;
}
.download-pdf-btn:hover{
    color: #ffffff;
}
/*
-----------------------------------------------------------------------
-------------- Responsive CSS For Animation Page  ---------------
-----------------------------------------------------------------------
*/
/*large device*/
@media all and (max-width:992px){
    /*Banner*/
    #header-section .banner h1 {
        font-size: 6.2rem;
    }
    
}
/*medium device*/
@media all and (max-width:768px){
    /*Header*/
    #header-section .banner h1 {
        font-size: 5rem;
    }
    
}

/*small device*/
@media all and (max-width:576px){
    /*Header*/
    #header-section{
        max-height:35rem;
    }
    #header-section .banner h1 {
        font-size: 4.2rem;
    }
    #header-section .banner {
        margin-top: 10rem;
    }
    #header-section .banner h1 {
        font-size: 3.5rem;
    }
    /*animatin video*/
    #animation video{
        width: 100%;
    }
}

/*Extra small device*/
@media all and (max-width:400px){
    /*banner*/
    #header-section .banner {
        margin-top: 5rem;
    }
}